<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="sk.ksp.riso.svpismo"
      android:versionCode="32"
      android:versionName="1.7.7"
      android:installLocation="auto">
    <supports-screens android:xlargeScreens="true"/>
    <application android:label="@string/app_name"
                 android:theme="@style/LocalTheme"
                 android:icon="@drawable/icon">
        <meta-data android:name="android.max_aspect" android:value="47.7" />
        <activity android:name="svpismo"
                  android:configChanges="orientation|screenSize"
                  android:launchMode="singleTask"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="svpismo.skmisia.ch" />
                <data android:scheme="http" android:host="svpismo.skmisia.ch" />
                <data android:scheme="https" android:host="dkc.kbs.sk" />
                <data android:scheme="http" android:host="dkc.kbs.sk" />
            </intent-filter>
            <intent-filter>
                <action android:name="sk.ksp.riso.svpismo.action.SHOW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="svpismo" />
            </intent-filter>
        </activity>
        <activity android:name="Bookmarks"
                  android:label="@string/app_name">
        </activity>
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest> 
